body, td {
    margin: 0px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    color: #000000;
    /*font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

submitcss {
    BORDER-TOP-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BACKGROUND: url(../images/btn.png) no-repeat;
    BORDER-BOTTOM-WIDTH: 0px;
    WIDTH: 74px;
    CURSOR: hand;
    COLOR: #ffffff;
    HEIGHT: 21px;
    BORDER-RIGHT-WIDTH: 0px;
}

textcss {
    BORDER-RIGHT: #404040 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #404040 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 9pt;
    BACKGROUND: url(../images/input.png) repeat-x;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #404040 1px solid;
    COLOR: #212121;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #404040 1px solid;
}

.inputCss {
    height: 20px;
    width: 250px;
}

body a:hover, body a:focus {
    text-decoration: none;
}

a:link {
    font-size: 12px;
    color: #000000;
}

a:visited {
    font-size: 12px;
    color: #000000;
}

a:hover {
    font-size: 12px;
    color: #CF7500;
    text-decoration: none;
}

a.na:link {
    font-size: 12px;
    font-weight: bold;
    color: Red;
    text-decoration: none;
}

a.na:visited {
    font-size: 12px;
    font-weight: bold;
    color: Red;
    text-decoration: none;
}

a.na:hover {
    font-size: 12px;
    font-weight: bold;
    color: Red;
}

a.hei:link {
    font-size: 12px;
    color: Black;
    text-decoration: none;
}

a.hei:visited {
    font-size: 12px;
    color: Black;
    text-decoration: none;
}

a.hei:hover {
    font-size: 12px;
    color: Black;
}

a.heiBold:link {
    font-size: 12px;
    font-weight: bold;
    color: Black;
}

a.heiBold:visited {
    font-size: 12px;
    font-weight: bold;
    color: Black;
}

a.heiBold:hover {
    font-size: 12px;
    font-weight: bold;
    color: Black;
}


a.bai:link {
    font-size: 12px;
    color: White;
    text-decoration: none;
}

a.bai:visited {
    font-size: 12px;
    color: White;
    text-decoration: none;
}

a.bai:hover {
    font-size: 12px;
    color: White;
    text-decoration: none;
}

.TextBoxCss {
    height: 20px;
    width: 140px;
}

.HerCss {
    CURSOR: hand;
}

.tddisp {
    DISPLAY: none;
}

.TextBoxCss {
    font-size: 12px;
    color: Black;
    width: 250px;
}

.ButtonCss {
    font-size: 12px;
}

.DropCss {
    font-size: 12px;
}

input.form-control {
    display: inline;
    height: 25px;
}

select.form-control {
    display: inline;
    height: 30px;
}

radio.form-control {
    display: inline;
    height: 30px;
}

input[type=file].form-control {
    display: inline;
    height: 34px;
}

.glyphicon-size-md {
    font-size: 16px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

    a span.operation_btn {
        height: 16px;
        line-height: 16px;
        display: inline-block;
        margin-top: -10px;
    }

    input.btn, button.btn, a.btn {
        padding: 2px 6px;
    }

table {
    border-width: 4px;
    border-image-width: 0px;
    border-collapse: collapse;
}

    table tbody {
        border: 0px;
        border-image-width: 0px;
        border-collapse: collapse;
    }

.pagination a[disabled] {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination span.active {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

td.filter_box {
    text-align: center;
}

.Wdate {
    width: 100px;
}

select.date_select {
    width: 80px;
}

.login_system_name {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    position:absolute;
    top:100px;
    bottom:0;
    right:0;
    left:0;
    text-align:center;
    margin:0 auto;
    height:80px;
}
#ListTreeView a.current_menu {
    color:#428bca;
}