<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="ckfinder" type="CKSource.CKFinder.Connector.Config.ConfigSectionHandler, CKSource.CKFinder.Connector.Config" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <!-- 连接字符串 -->
    <add key="SQLConnectionString" value="17A62ECAE4391343132BDAD59AD38CCA989921FDA34904090100043EB887767A72A8476F7B20BB22B48948270F4BF1703F161D4BA3B5030E" />
    <!-- 设置ewebeditor中的编辑器 -->
    <add key="imagesfolder" value="~/WebEditorFile/" />
    <add key="yuanimg" value="~/WebEditorFile/" />
    <!-- 设置OA中的在线编辑保存，该路径指示OA所在的目录，根目录请留空 -->
    <add key="OARoot" value="/Web" />
    <!-- 设置短信平台中的企业帐号-->
    <add key="enCode" value="C00000" />
    <!-- 设置短信平台中的企业密码-->
    <add key="enPassword" value="000000" />
    <!-- 设置短信平台中的用户名-->
    <add key="userName" value="SYS" />
    <!-- 设置OA中登录是用 用户名 还是 登录账号 登录    0为登录账号   1为 用户名-->
    <add key="OALogin" value="0" />
  </appSettings>
  <connectionStrings />
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.VisualBasic.Compatibility, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" />
    <authentication mode="Windows" />
    <globalization requestEncoding="GB2312" responseEncoding="GB2312" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <ckfinder overwriteOnUpload="false" checkDoubleExtension="true" disallowUnsafeCharacters="false" secureImageUploads="true" checkSizeAfterScaling="true" xmlns="https://cksource.com/ckfinder-net/schema/CKFinderConnector.xsd">
  	<license name="" key="" />
  	<images maxWidth="1600" maxHeight="1200" quality="80">
  		<sizes>
  			<size name="small" width="480" height="320" quality="80" />
  			<size name="medium" width="600" height="480" quality="80" />
  			<size name="large" width="800" height="600" quality="80" />
  		</sizes>
  		<threshold pixels="80" percent="10" />
  	</images>
  	<thumbnails folder="thumbs" backend="CKFinderPrivate">
  		<sizes>
  			<size width="150" height="150" quality="80" />
  			<size width="300" height="300" quality="80" />
  			<size width="500" height="500" quality="80" />
  		</sizes>
  	</thumbnails>
  	<backends>
  		<!--
        This is special file system for private CKFinder data, it shouldn't be used for normal files.
        It shouldn't be modified unless CKFinder is hosted without access to the local file system.
        -->
  		<backend name="CKFinderPrivate" adapter="local">
  			<option name="root" value="App_Data" />
  		</backend>
  		<backend name="default" adapter="local">
  			<option name="root" value="userfiles" />
  			<option name="baseUrl" value="/ckfinder/userfiles/" />
  		</backend>
  	</backends>
  	<resourceTypes>
  		<resourceType name="Files" folder="files" allowedExtensions="7z,aiff,asf,avi,bmp,csv,doc,docx,fla,flv,gif,gz,gzip,jpeg,jpg,mid,mov,mp3,mp4,mpc,mpeg,mpg,ods,odt,pdf,png,ppt,pptx,pxd,qt,ram,rar,rm,rmi,rmvb,rtf,sdc,sitd,swf,sxc,sxw,tar,tgz,tif,tiff,txt,vsd,wav,wma,wmv,xls,xlsx,zip" backend="default" />
  		<resourceType name="Images" folder="images" allowedExtensions="bmp,gif,jpeg,jpg,png" backend="default" />
  	</resourceTypes>
  	<accessControl>
  		<role name="*" resourceType="*" folder="*" folderView="allow" folderCreate="allow" folderRename="allow" folderDelete="allow" fileView="allow" fileUpload="allow" fileRename="allow" fileDelete="allow" imageResize="allow" imageResizeCustom="allow" />
  	</accessControl>
  	<htmlExtensions>
  		<extension name="html" />
  		<extension name="htm" />
  		<extension name="xml" />
  		<extension name="js" />
  	</htmlExtensions>
  	<hideFolders>
  		<folder name=".*" />
  		<folder name="CVS" />
  		<folder name="__thumbs" />
  	</hideFolders>
  	<hideFiles>
  		<file name=".*" />
  	</hideFiles>
  	<plugins folder="plugins">
  		<!--
      <plugin name="PluginName" />
      -->
  	</plugins>
  </ckfinder>
</configuration>